@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
.shelf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    margin: 15px;
}
.shelf-box {
    width: 40vw;
    background-color: #d34735;
    margin: 15px;
    height: 15%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
